*{
    font-family: ubuntu;
    margin: 0;
    transition: all 0.5s;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

nav {
  background: #123;
}

.wrapper{

}

nav ul {
  list-style: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #bcd;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}


@media screen and (min-width:786px) {
  nav ul {
    display: flex;
    /* justify-content: space-between; */
  }

  nav li {
    flex: 1 1 0;
  }










}
