* {
  margin: 0px;
}

body {

  background-color: #123;
  color: #f60;
}
.container {
  display: flex;
  background: white;
}

.top{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex {
  height: 100px;
  width: 320px;
}
.one {
  background: red;
  flex-shrink: 1;

}
.two {
  background: blue;
  flex-shrink: 2;
}
.three {
  background: green;
  flex-shrink: 3;

}
